@page
@model ProjektBoat.Pages.EventPages.IndexModel
@using ProjektBoat.Interfaces;
@using ProjektBoat.Models;
@inject IEventRepository eventRepository;
@{
    ViewData["Title"] = "Show events";
}



<h1>
    List of Events </>

    <a asp-page="CreateEvent"> Create new Event</a>



    @foreach (Event item in Model.Event)
    {
            <div class="card" style="width: 18rem;">

            <img src="@item.ImageURL" onerror="this.style.display='none'" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">@item.Name</h5>
        <p class="card-text">@item.Description</p>
                <h7>@if (DateTime.UtcNow > item.Date)
                    {
                        <p>    <font size="3">Event overstået</font>      </p>
                    }
                    else
                    {
                           <p>  <font size="5">@item.Date  </font>    </p>
                    }
                </h7>
                <td><a asp-page="ShowEvent" asp-route-id=@item.EventID>Show</a>
                <a asp-page="EditEvent" asp-route-id=@item.EventID>Edit</a>
                <a asp-page="DeleteEvent" asp-route-id=@item.EventID>Delete</a>

           </div>
    </div>
    }
</h1>