@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hillerød Sejlklub</h1>

</div>
<div class="Image">
    <img src="https://www.seafarerswelfare.org/assets/documents/relief-funds/Christmas-graphic-transparent.png" alt="..." class="card-img-top">
</div>
@*https://wallpapersmug.com/download/2560x1440/203638/week-end-out-sailboat-blue-sea.jpg*@